.body {
	background:url(./discLogo.jpg) no-repeat fixed 50% 20%;
}

.h1 {
	color:blue;
	height:100px;
	text-align:center;
}

.p_home {
	color:blue;
	font:20px comic sans ms,sans-serif;
}

.p_home_2{
	color:blue;
	font:15px comic sans ms,sans-serif;
	position:absolute;
	right:185px;
	width:350px;
}

.bb {
	color:white;
}

.transbox {
	width:350px;
	height:350px;
	background-color:blue;
	border:3px solid black;
	opacity:0.80;
	filter:alpha(opacity=80);
}
  
  input:hover {
	background:black;
	color:white;
  }
  
  input:focus {
	background:black; 
	color:white;
}