.body {
	background:url(./field.png) no-repeat fixed 80% 20%;
}

.h1 {
	color:black;
	height:100px;
	text-align:center;
}

h2 {
	color:white;
}

.p_home {
	color:blue;
	font:20px comic sans ms;
}

.p_home_2 {
	color:black;
	font:20px comic sans ms;
	position:absolute;
	right:135px;
	width:500px;
}

.pHome {
	color:white;
	font:25px comic sans ms;
}

.bb {
	color:white;
	font:15px comic sans ms;
}

 .pppp  {
	color:#00a000;
 }

 .transbox {
	width:375px;
	height:350px;
	background-color:#00a000;
	border:1px solid black;
	opacity:0.90;
	filter:alpha(opacity=90);
}
  
  input:hover {
	background:black;
	color:white;
  }
  
  input:focus {
	background:black; 
	color:white;
}

.column {
	width:375px;
	height:350px;
	text-align:left;
	background-color:#00a000;
	border:3px solid white;
	opacity:0.90;
	filter:alpha(opacity=90);
} 

.column1 {
	float:left;
	width:300px;
	height:850px;
	background-color:#00A000;
	padding:10px;
	text-align:left;
	color:black;
	margin-top:0px;
	font:20px comic sans ms;
	border:3px solid #FFFFFF;
	opacity:0.90;
	filter:alpha(opacity=90);
} 

.column2 {
	float:left;
	width:282px;
	height:850px;
	background-color:#00A000;
	padding:10px;
	text-align:left;
	color:black;
	margin-top:0px;
	font:20px comic sans ms;
	border:3px solid #FFFFFF;
	opacity:0.90;
	filter:alpha(opacity=90);
}

.column3 {
	float:left;
	width:300px;
	height:850px;
	background-color:#00A000;
	padding:10px;
	text-align:left;
	color:black;
	margin-top:0px;
	font:20px comic sans ms;
	border:3px solid #FFFFFF;
	opacity:0.90;
	filter:alpha(opacity=90);
}